@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'Inter';
}
.container{
    
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.body{
    list-style-type: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #151515;
}

.header{
    background-color: #151515;
}




.header__inner{
    display: flex;
    padding-top: 40px;
    padding-bottom: 45px;
    justify-content: space-between;
    align-items: flex-end;
   
}

.menu__list{
    list-style-type: none;
    display: flex;
    gap: 35px;
}

.menu__list-link{
    
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

}

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
    
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
    list-style-type: none; 
}

