@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
   
}

.section-title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'Inter';
}
.container{
    
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.body{
    list-style-type: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 1.3;
}

.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}




.header__inner{
    display: flex;
    padding-top: 40px;
    padding-bottom: 45px;
    justify-content: space-between;
    align-items: flex-end;
   
}

.menu__list{
    list-style-type: none;
    display: flex;
    gap: 35px;
}

.menu__list-link{
    
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

}

.menu__list-link--active{
    color: #0066FF;
}

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
    
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
    list-style-type: none; 
}


.footer__copy{
    max-width: 806px;
    margin: 0 auto 30px;
}


.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main{
    flex-grow: 1;
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
}

.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}



.top__link{
    display: inline-block;
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.swiper-wrapper{
background-color: rgba(21,21,21,.6);
}

.swiper-slide{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin-bottom: 85px !important;
}

ul{
    list-style-type: none !important;
}

.swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;

}

.why-lease {
    padding: 150px 0;
}


.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-img {
    margin-bottom: 30px;
}
.why-lease__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why-lease__text {
    text-align: left;
}

.how-does {
    padding-bottom: 150px;
}

.how-does__inner {
    max-width: 600px;
    margin: 0 auto;
}

.how__does-title {
    padding-top: 50px;
    font-weight: 700;
font-size: 24px;
line-height: 29px;

}
.how__does-list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how__does-item{
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    padding-left: 240px;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}


.how__does-item + .how__does-item{
    margin-top: 40px;
}

.how__does-item::before{
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    background-color: #0066FF;
    font-size: 48px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.video{
    padding-bottom: 150px;
}

.video__title{
    margin-bottom: 20px;
}

.video__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content{
    display: block;
    margin: 0 auto;
}

.important {
    padding-bottom: 150px;
}

.important__title {
    margin-bottom: 20px;
}
.important__text {
    max-width: 580px;
    margin: 0 auto 50px;
}

.important__item-text {
    max-width: 270px;
    
}
.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.important__item-img {
    margin-bottom: 20px;
}

.contacts {
    padding: 100px 0 150px;
}


.contacts__title {
    margin-bottom: 20px;
}
.contacts__text{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 0 100px;
    font-weight: 700;
}
.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form__input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
}
.form__input::placeholder,
.form__textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
}
.form__textarea {
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0066FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
    margin-bottom: 50px;
}


.form__btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 61px;
    margin: 0 auto;
}


.blog {
    padding-bottom: 150px;
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;

}
.blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog__item-img {
    margin-bottom: 30px;
    width: 100%;
}
.blog__item-title {
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.blod__item-link {
    color: #fff;
    background-color: #0066FF;
    padding: 4px 20px;
    font-weight: 400;
font-size: 16px;
line-height: 130%;
}

.showmore-link{
    text-transform: uppercase;
    background-color: #151515;
    padding: 13px;
    color: #fff;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    display: block;
}